
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3> @Html.ActionLink("Games", "Games", "Admin")</h3>
<br />
<h3> @Html.ActionLink("Categories", "Categories", "Admin")</h3>
<br />
<h3> @Html.ActionLink("Developers", "Developers", "Admin")</h3>